.container {
    position: relative;
    width: 420px;
    background-color: #383838;
    border-radius: 10px;
    border: 4px solid #8964B6;
    border-top: 36px solid #8964B6;
    padding: 10px;
    height: 346px;
    font-family: 'Segoe UI', sans-serif;
    list-style: none;

    color: #FFFFFF;
  }
  
  .borderText {
    position: absolute;
    top: -28px;
    left: 50%;
    font-family: 'Segoe UI', sans-serif;
    transform: translateX(-50%);
    background-color: #8964B6;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 4px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    list-style: none;

    justify-content: space-between;
    height: 100%;
  }
  
  .sourceBlock {
    flex: 1;
    background-color: #2b2b2b;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    list-style: none;
    padding: 16px;
    font-size: 14px;
    display: flex;

    color: #a9a9a9;
  }
  
  .divider {
    border: none;
    height: 1px;
    background-color: #8964B6;
    margin: 10px 0;
  }
  
  .buttonGroupBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2b2b2b;
    padding: 10px;
    font-family: 'Segoe UI', sans-serif;

    border-radius: 10px;
  }
  
  .iconButtonWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tooltip {
    position: absolute;
    bottom: 50px;
    background-color: #8964B6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    font-family: 'Segoe UI' ,serif;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s, transform 0.2s;
    pointer-events: none;
  }
  
  .iconButtonWrapper:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
  }
  
  .iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #8964B6;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  }
  
  .iconButton:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #383838;
  }
  
  .iconButton:active {
    transform: scale(0.95);
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  




  /* Стили для списка сцен */
.sourcesList {
  max-height: 170px; /* Максимальная высота списка источников */
  list-style: none;

  overflow-y: scroll; /* Включаем вертикальную прокрутку, но оставляем ее скрытой */
}

.sourcesList::-webkit-scrollbar {
  width: 0px; /* Убираем полоску прокрутки */
  height: 0px; /* Для горизонтальной полосы */
}

.sourcesList::-webkit-scrollbar-thumb {
  background-color: transparent; /* Скрываем сам индикатор прокрутки */
}

.sourcesList::-webkit-scrollbar-track {
  background: transparent; /* Скрываем трек прокрутки */
}

/* Стили для каждого элемента списка */
.sourceItem {
  width: 300px; /* Элемент занимает всю ширину */
  height: 40px; /* Фиксированная высота элемента */
  padding: 10px;
  margin-left: -40px;
  background-color: #7A6A8E;
  margin-bottom: 5px;
  border-radius: 5px;
  font-family: 'Segoe UI', serif;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Включаем отступы и границы в размеры */
}

.sourceItem:hover {
  background-color: #8b78a3;
}

.sourceItem.active {
  background-color: #735894; /* Цвет для активного элемента */
  border-color: #66498a;
}
